@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-pure: #9b31a0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-pure: var(--primary-pure);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0d0b0b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add Tailwind utility classes for primary-pure color */
@layer utilities {
  .text-primary-pure {
    color: var(--primary-pure);
  }
  .bg-primary-pure {
    background-color: var(--primary-pure);
  }

  .bg-light-medium {
    background-color: rgb(245 244 245);
  }

  .border-primary-pure {
    border-color: var(--primary-pure);
  }
}
